@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-heading {
    padding: 10px;
    margin: 10px;
}

.about-main-heading {
    font-family: "Roboto";
    color: #323f4b;
    font-size: 32px;
}

.main-description {
    font-family: "Roboto";
    color: #9aa5b1;
}

.image-section {
    margin: 5px;
    width: 135px;
}

.videos-section {
    margin: 5px;
    height: 120px;
}